In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the data

In [2]:
dataset = pd.read_csv('kc_house_data.csv')

In [3]:

dataset.shape

(21613, 21)

In [5]:

dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:

dataset.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [5]:
dataset.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

# Preparing the Data - Test Train

In [10]:
X=dataset[['id',   'bedrooms', 'bathrooms', 'sqft_living',\
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',\
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',\
       'lat', 'long', 'sqft_living15', 'sqft_lot15']]
Y=dataset['price']

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=0)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(15129, 19)
(15129,)
(6484, 19)
(6484,)

##  Training

In [12]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

## Making the Predictions

In [16]:
y_pred = regressor.predict(X_test)
print(y_pred)

[ 389481.68802075 1524662.66376005  544165.95858052 ...  319023.74285852
  225669.07588895  145214.12872363]

In [18]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

          Actual     Predicted
17384   297000.0  3.894817e+05
722    1578000.0  1.524663e+06
2680    562100.0  5.441660e+05
18754   631500.0  5.772479e+05
14554   780000.0  9.748460e+05
16227   485000.0  3.708155e+05
6631    340000.0  4.019138e+05
19813   335606.0  3.782077e+05
3367    425000.0  5.616345e+05
21372   490000.0  1.202055e+06
3268    732000.0  7.161405e+05
20961   389700.0  3.610886e+05
21456   450000.0  3.846832e+05
3880    357000.0  2.885281e+05
17472   960000.0  8.503375e+05
7618    257000.0  3.913731e+05
1091    448000.0  3.373463e+05
1560    610000.0  6.719646e+05
8945    230950.0  3.346624e+05
8439    377500.0  5.540378e+05
13058   375000.0  3.470805e+05
12080   410000.0  3.911638e+05
7417    459000.0  6.137584e+05
3101    190000.0  1.915205e+05
18769   585000.0  5.968223e+05
7332    280000.0  2.877409e+05
19186   500000.0  4.604732e+05
11875   465000.0  6.485987e+05
14100   802000.0  8.891608e+05
10641   440000.0  4.947967e+05
...          ...           ...
5838    980000.0  8.721821e+05
17350   520000.0  5.559806e+05
17675   325000.0  5.728900e+05
3572    770000.0  4.592571e+05
16888   995000.0  1.499991e+06
21433   465750.0  6.995599e+05
18026   575000.0  5.050673e+05
6588    425000.0  4.187153e+05
11504   398500.0  5.429198e+05
530     270500.0  2.592977e+05
4897    310000.0  2.791177e+05
9185    190000.0  1.965260e+05
13245   492000.0  6.245731e+05
4264    235000.0  2.588215e+05
7673    765000.0  9.789408e+05
13167   530000.0  5.192820e+05
21174   525000.0  7.304577e+05
16924   226000.0  3.590131e+05
19310   624000.0  6.240172e+05
1916    500000.0  5.192684e+05
15231   467500.0  5.025798e+05
8210    203000.0  2.016059e+05
12860   446000.0  4.450136e+05
12947   206000.0  1.961893e+05
21490   529000.0  6.365325e+05
18588  1100000.0  4.941082e+05
6784    700000.0  5.364260e+05
14510   380000.0  3.190237e+05
18917   268000.0  2.256691e+05
11750   206000.0  1.452141e+05

[6484 rows x 2 columns]

## Evaluating the Algorithm

In [15]:
from sklearn import metrics

print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_pred))

print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_pred))

print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error:  124004.42210426605
Mean Squared Error:  42857272313.08914
Root Mean Squared Error:  207019.9804682851